body
{
    background: #F5F5F5;
    
}
.padding
{
    padding: 100px 70px;
    padding-bottom: 0px;

}

.heading
{
    color:black;
    font-family: Montserrat;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: 30px;
}
.image{
    width:99%;
    height: 40vw;
}
.center
{
    text-align:center;
}

.image
{
    border: 2px solid black;
    height: 400px;

}
a{
    text-decoration: none;

}

.instru
{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin:  25px  0px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: justify;
}
#logo
{
    width: 120px;
}
.love
{
    color: black;
    font-family: Montserrat;
    font-weight: 900;
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 20px;
}
.power
{
    font-family: Montserrat;
    letter-spacing: 3px;
    font-weight: 600;
}
.SI
{
    color: #3f95ea;
}
.powered
{
    color: black;
}
.para,.link
{
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    margin:  50px  0px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: justify;
}
.para2
{
    font-weight: 500;
}

